doctype html
html
	block vars

	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		block head-start

		title
			block title = title

		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		block head-end

		body(class=bodyClass)

		block body-start

		#site

			include ./header.pug

			#page-content.wrapper
				block content
					h2 Missing Content!

		block body-end

	block after-body
