#site-navigation
	position relative
	top 0
	left 0
	right 0
	align-self flex-start
	display flex
	flex-wrap wrap
	justify-content space-between
	align-items center
	width 100%

	#site-logo
		display flex
		align-items center
		font-size 3.6rem // changing the font size will require changing the SVG math
		height 5rem
		color inherit
		text-decoration none
		border none

	#mobile-menu-toggle // the checkbox
		display none

	#mobile-site-navigation-toggle // the label button
		display none

	#site-navigation-links
		display flex
		margin 0
		padding 0
		list-style none

		.nav-link
			display flex
			align-content center
			position relative
			text-transform uppercase
			font-weight 300
			padding 2rem 2rem
			cursor pointer
			color $copy-color
			border none
			border-radius 0.3rem
			transition all 0.2s ease
			text-align center
			justify-content center

			// box shadow fade-in hack
			&::after
				position absolute
				content ""
				height 100%
				width 100%
				top -1rem
				left 0
				content ""
				box-shadow 0px 1rem 1rem -0.5rem rgba(0, 0, 0, 0.5)
				transition all 0.2s ease
				opacity 0

			&:hover::after
				opacity 1
				top 0

			&:hover
				background-color $brand-primary-color

	@media screen and (max-width: $mobile-breakpoint)
		#site-navigation-links
			visibility hidden
			position absolute
			top 150%
			flex-direction column
			justify-content center
			align-items center
			width 100%
			background #111111
			z-index 10
			border-radius 0.3rem
			box-shadow 0px 1rem 1rem -0.5rem rgba(0, 0, 0, 0.5)
			opacity 0
			transition opacity 0.2s ease, visibility 0.2s ease
			transition-delay 0.2s

			.nav-link
				width 100%

		#mobile-site-navigation-toggle // the label button
			display flex
			position relative
			text-transform uppercase
			font-weight 300
			text-shadow 0rem 0.05rem 0.2rem #000
			box-shadow 0px 1rem 1rem -0.5rem rgba(0, 0, 0, 0.5)

			&:active, &:active, &:hover
				outline none

			&::after // the "close menu" "button"/bridge to the popup mobile menu
				position absolute
				top 0
				left 0
				display flex
				align-content flex-start
				justify-content center
				content attr(data-close-label)
				font inherit
				font-size 1.2rem
				line-height 1rem
				padding 1rem 1rem
				text-align center
				height 200%
				width calc(100% + 0.2rem)
				background #111111
				border-radius 0.3rem
				border solid 0.1rem #111111
				margin -1px
				opacity 0
				visibility hidden
				transition all 0.2s ease

		#mobile-menu-toggle:checked
			& ~ #mobile-site-navigation-toggle::after
				opacity 1
				visibility visible
				transition-delay 0.2s

			& ~ #site-navigation-links
				visibility visible
				opacity 1
				transition opacity 0.2s ease, visibility 0.0s ease
				transition-delay 0s

	// for the teeny (iPhone 4?) screens
	@media screen and (max-width: $mobile-s-breakpoint)
		#site-logo
			svg
				max-width 200px

		#mobile-site-navigation-toggle
			font-size 1.6rem

